* {
  box-sizing: border-box;
}
body {
  overflow: hidden;
}
img {
  display: block;
}
.main-section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #333;
}

.wrapper {
  width: 80%;
  max-width: 1000px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.slides {
  display: flex;
  transition: transform 0.8s ease-in-out;
}

.slide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 100%;
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
  gap: 30px;
  position: relative;
}

.slide.active {
  opacity: 1;
}

.slide img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
}

.caption {
  color: white;
  font-family: Arial;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1.5s ease-in-out, transform 0.8s ease-in-out;
}

.caption.animate-caption {
  opacity: 1;
  transform: translateY(0);
}

.dots {
  position: absolute;
  bottom: 27px;
  left: 80%;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 5px;
  border: rgb(51, 122, 204) solid;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  transition: background-color 1s ease;
}

.dot.active {
  background-color: rgb(51, 122, 204);
}
.slide-wrapper {
  display: flex;
  justify-content: space-between;
}
